
<div class="container-fluid col-sm-offset-1">

    <div class="row">

        <!-- Left Movie Info -->
        <div class="col-sm-2 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#">                            
                        <img src="#enlace á imaxe da película#" class="img-responsive">
                    </a>
                    <h2></h2>
                </div>
            </div>
        </div>
        <!-- Right Movie Info -->
        <div class="col-sm-offset-1 col-sm-4 col-md-4">
            <h1>#Titulo da película#</h1>
            <h3><small>#Xénero da película#</small></h3>
        	<h1><small>¿Xa a viches?</small></h1>
            <h3><small>Porfa, danos a túa valoración </small></h3>


            <form>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" value="1" id="oneStar">
                        <label class="form-check-label" for="oneStar">
                            <span class="fa fa-star-o"></span>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" value="2" id="twoStars">
                        <label class="form-check-label" for="twoStars">
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" value="3" id="threeStars">
                        <label class="form-check-label" for="threeStars">
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" value="4" id="fourStars">
                        <label class="form-check-label" for="fourStars">
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" value="5" id="fiveStars">
                        <label class="form-check-label" for="fiveStars">
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </label>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>	
    </div>
</div>
